.App {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #646f74;
}

[data-accordion] {
  margin: 0 auto;
  width: 400px;
}

[data-panel-title] {
  display: flex;
  justify-content: space-between;
  padding: 15px 15px 15px 25px;
  background: white;
  border-top: 1px solid #edf2f8;
  border-bottom: 1px solid white;
  cursor: pointer;
  transition: border 1s;

  &::before {
    display: inline;
    content: "+";
  }

  &:hover {
    border-bottom: 1px solid #646f74;
  }

  &.expanded {
    border-bottom: 1px solid #646f74;
    &::before {
      content: "-";
    }
  }

  &.disabled {
    background: #f3f6fc;
    color: #99c9ff;
    border: 1px solid #cee4fd;
    cursor: not-allowed;
    &::before {
      content: "x";
    }
    &:hover {
      border-bottom: 1px solid #cee4fd;
    }
  }
}

[data-panel-content] {
  background: #edf2f8;
  visibility: hidden;
  height: 0;
  padding: 0;
  font-size: 0;
  transition: height 0.2s, visibility 0.2s, padding 0.2s;

  &.expanded {
    visibility: visible;
    height: auto;
    padding: 15px;
    font-size: 1em;
    border-bottom: 1px solid #edf2f8;
  }
}
